header{background-image:url(background.png); margin:50px; padding:30px;width:100%}
blogName{font-size:30pt;font-weight:bold}
nav{display:block;width:150px;float:left;margin:30px;padding-right:30px}
nav a{font-family:"맑은 고딕","굴림";font-size:12pt;display:block;padding:15px;}
#table{table-layout:auto;font-size:10pt;padding-top:20px}
article{position:absolute; left:250px}
footer{position:fixed; bottom:5%; right:5%}
